/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  width: 400px;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 80px;
  height: 100px;
  cursor: pointer;
  background: transparent;
  top: 50%;
  margin-top: -45px;
  font-size: 0;
  border: none;
  z-index: 2;
}
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 60px;
  top: 50%;
  left: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
    display: none;
}

.ct-slick-arrows--type2 .slick-prev:before,
.ct-slick-arrows--type2 .slick-next:before {
  margin-top: -20px;
  margin-top: -2rem;
}
.ct-slick-arrows--type2 .slick-prev:after,
.ct-slick-arrows--type2 .slick-next:after {
  margin-top: 20px;
  margin-top: 2rem;
}
.ct-slick-arrows--type2 .slick-prev:hover:before,
.ct-slick-arrows--type2 .slick-next:hover:before {
  margin-top: -20px;
  margin-top: -2rem;
}
.ct-slick-arrows--type2 .slick-prev:hover:after,
.ct-slick-arrows--type2 .slick-next:hover:after {
  margin-top: 20px;
  margin-top: 2rem;
}
.ct-slick-arrows--type2 .slick-prev:hover:active,
.ct-slick-arrows--type2 .slick-next:hover:active {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.ct-slick-arrows--type2 .slick-prev {
  left: 10px;
  left: 1rem;
}
.ct-slick-arrows--type2 .slick-prev:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ct-slick-arrows--type2 .slick-prev:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ct-slick-arrows--type2 .slick-prev:hover:before {
  margin-top: -27px;
  margin-top: -2.7rem;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.ct-slick-arrows--type2 .slick-prev:hover:after {
  margin-top: 27px;
  margin-top: 2.7rem;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.ct-slick-arrows--type2 .slick-next {
  right: 10px;
  right: 1rem;
}
.ct-slick-arrows--type2 .slick-next:before,
.ct-slick-arrows--type2 .slick-next:after {
  left: auto;
  right: 0;
}
.ct-slick-arrows--type2 .slick-next:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ct-slick-arrows--type2 .slick-next:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ct-slick-arrows--type2 .slick-next:hover:before {
  margin-top: -27px;
  margin-top: -2.7rem;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.ct-slick-arrows--type2 .slick-next:hover:after {
  margin-top: 27px;
  margin-top: 2.7rem;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#home.ct-header.ct-header--slider {
  background-size: cover;
}
.ct-header .ct-slick {
  margin-bottom: 0;
}
.slick-initialized .slick-slide {
  display: block;
}
.ct-u-display-tablex {
  display: table;
  width: 100%;
  height: 600px;
}
.ct-u-display-tablex > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
 

}
.ct-header h1.big {
  font-size: 45px;
  line-height: 65px;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  padding-top: 0px;
}
.ct-header p {
    font-size: 16px;
    line-height: 30px;
    margin: 30px 0;
    padding-right: 100px;
    color: #f9d60e;
    letter-spacing: 2px;
}

.ct-header h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 20px 0 ;
  padding-right: 100px;
  color: #000;
}


.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 26px;
  padding: 1rem 1rem;
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 18px;
 

}
* { 
  outline: none !important;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
}
.btn-transparent {
  background-color: transparent;
  border: 3px solid #fff;
}
.ct-slick .slick-track,
.ct-slick .slick-list,
.ct-slick .item,
.ct-slick .slick-item {
  min-height: inherit;
}
.ct-slick .item {
  background-size: cover;
}
.slick-list {
  height: 500px;
}

/* Transitions */
.activate {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1 * 100);
  filter: alpha(opacity=1 * 100);
}
.animated {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0 * 100);
  filter: alpha(opacity=0 * 100);
}