{% load static %}
<footer class="foot">
    <div class="shape">
        <img src="{% static 'img/shape.png' %}">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="logo-foot">Glove Box
                    <p>Does your car have a minor damage? Get your claims settled instantly. You can then get your car repaired, as per your convenience.</p>
                </div>

                <div class="social">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

            </div>


            <div class="col-md-3">
                <h3>Insurance</h3>
                <ul>
                    <li><a href="">Get a quote</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">Claims</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Legal</h3>
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Licenses</a></li>

                </ul>
            </div>

            <div class="col-md-3">
                <h3>About Us</h3>
                <ul>
                    <li><a href="">Who we are</a></li>
                    <li><a href="">Career</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>



        </div>

        <div class="row pt-5 mt-5 bdr-top">
            <div class="col-md-4">
                <h6>© Copyright 2020 <span>The Glove Box</span></h6>
            </div>
            <!-- <div class="col-md-4 offset-md-4 text-right"><h6>Powerd by : SGSPL</h6></div> -->
        </div>
    </div>


</footer>