{% extends "../base/index.html" %} {% block title %} The Glove Box {% endblock title %} {% block content %} {% comment %} Home Page {% endcomment %}
{% load static %}

<section class="hero-banner">

    <div class=" ct-header ct-header--slider ct-slick-custom-dots" id="home">
        <div class="ct-slick-homepage" data-arrows="true" data-autoplay="true">
            <div class="bgcolor ct-header tablex item" data-background="{% static 'img/banner-1.jpg' %}">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Need Auto Alerts ? </h1>
                                    <p class="animated"> <span>When you have the right tools, then Not to worry !</span></p>
                                    <div class="ban-btn">
                                        <a class="animated" href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bgcolor ct-header tablex item" data-background="{% static 'img/banner2.jpg' %}">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Need Auto Alerts ? </h1>
                                    <p class="animated"> <span>When you have the right tools, then Not to worry !</span></p>
                                    <div class="ban-btn">
                                        <a class="animated" href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgcolor ct-header tablex item" data-background="{% static 'img/banner-3.jpg' %}">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Need Auto Alerts ? </h1>
                                    <p class="animated"> <span>When you have the right tools, then Not to worry !</span></p>
                                    <div class="ban-btn">
                                        <a class="animated" href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">

        <div class="row">
            <div class="col">
                <h2>Our Features <span>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu <br>fugiat nulla pariatur.</span></h2>
            </div>
        </div>

        <div class="row pt-5">

            <div class="col-md-3 ">
                <div class="feat-in">
                    <img src="{% static 'img/feat-img-1.png' %}">
                    <h3>One Hour Pick-up</h3>
                    <p>Does your car have a minor damage? Get your claims settled instantly. You can then get your car repaired, as per your convenience.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feat-in">
                    <img src="{% static 'img/feat-img-2.png' %}">
                    <h3>3-Day Doorstep Delivery</h3>
                    <p>Does your car have a minor damage? Get your claims settled instantly. You can then get your car repaired, as per your convenience.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feat-in">
                    <img src="{% static 'img/feat-img-3.png' %}">
                    <h3>Cashless Claims</h3>
                    <p>Does your car have a minor damage? Get your claims settled instantly. You can then get your car repaired, as per your convenience.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feat-in active">
                    <img src="{% static 'img/feat-img-4.png' %}">
                    <h3>We Deliver</h3>
                    <p>Does your car have a minor damage? Get your claims settled instantly. You can then get your car repaired, as per your convenience.</p>
                </div>
            </div>

        </div>


    </div>
</section>



<section class="glove">
    <div class="container">

        <div class="row">
            <div class="col-md-6 pt-5 mt-5">
                <div class="big-tit">
                    About <span>GloveBox</span>
                </div>
                <h4>Instive makes it easy to insure your property with home, landlord and strata insurance. </h4>
                <!--  <p>Aliquam posuere gravida wolf moon retro. Hella ironic before they sold out pitchfork gastropub. Gravida wolf moon retro. Hella ironic before they sold out pitchfork gastropub</p> -->

                <div class="ban-btn"><a href="">Read More</a></div>


            </div>



            <div class="col-md-6">
                <div class="glove-img">
                    <img src="{% static 'img/about-glove.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="download">
    <div class="container">

        <div class="row">
            <div class="col-md-7">

                <div class="big-tit">
                    Download the App
                    <h4>Instive makes it easy to insure your property with home, <br>landlord and strata insurance. </h4>

                </div>

                <div class="app-btn">
                    <ul>
                        <li>
                            <div class="app-i"><i class="fa fa-apple" aria-hidden="true"></i></div>
                            Available on
                            <span>IOS Store</span></li>
                        <li>
                            <div class="app-i"><i class="fa fa-play" aria-hidden="true"></i>
                            </div>Available on <span>Google Play</span></li>
                    </ul>
                </div>

            </div>


            <div class="col-md-5 text-right">
                <img src="{% static 'img/downloadapp.png' %}">
            </div>
        </div>




    </div>
</section>




<section class="notify">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Have any Question? <span>Ask us anything, we’d love to answer!</span>

                </h2>
            </div>
        </div>

        <div class="row pt-5 mt-5">
            <div class="col-md-10 m-auto">
                <div class="row notific">
                    <div class="col-md-6">
                        <div class="or">or</div>
                        <div class="notify-in">
                            <span>Call Now</span> +1 212-683-9756
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="notify-in emils">
                            <span>Sign up for emails</span>
                            <input type="text" class="form-control" placeholder="Your Email Address" name="">
                            <button><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>What People Says !</h2>
            </div>
        </div>

        <div class="row owlslider pt-5 mt-3">
            <div class="col-md-10 m-auto owlbg">
                <div id="carousel-1" class="loop owl-carousel owl-theme">

                    <div class="item">
                        <div class="testi-in">
                            <img src="{% static 'img/testi-1.jpg' %}">
                            <p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
                            <h4>Antony Moore</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi-in">
                            <img src="{% static 'img/testi-2.jpg' %}">

                            <p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
                            <h4>Bryan Thompson</h4>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testi-in">
                            <img src="{% static 'img/testi-3.jpg' %}">

                            <p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
                            <h4>Ana Smith</h4>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testi-in">
                            <img src="{% static 'img/testi-2.jpg' %}">

                            <p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
                            <h4>Anglina</h4>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testi-in">
                            <img src="{% static 'img/testi-1.jpg' %}">

                            <p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
                            <h4>David Champion</h4>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>





<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/slick.js' %}"></script>



<script>
    $('#carousel-1').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 1,
                nav: false
            },
            1000: {
                items: 3,
                nav: true,
                autoplay: true,
                loop: true
            }
        }
    })
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.ct-slick-homepage').on('init', function(event, slick) {
            $('.animated').addClass('activate fadeInUp');
        });

        $('.ct-slick-homepage').slick({
            autoplay: true,
            autoplaySpeed: 10000,
            pauseOnHover: false,
        });

        $('.ct-slick-homepage').on('afterChange', function(event, slick, currentSlide) {
            $('.animated').removeClass('off');
            $('.animated').addClass('activate fadeInUp');
        });

        $('.ct-slick-homepage').on('beforeChange', function(event, slick, currentSlide) {
            $('.animated').removeClass('activate fadeInUp');
            $('.animated').addClass('off');
        });
    });

    $(document).ready(function() {
        if ($('[data-background]').length > 0) {
            $('[data-background]').each(function() {
                var $background, $backgroundmobile, $this;
                $this = $(this);
                $background = $(this).attr('data-background');
                $backgroundmobile = $(this).attr('data-background-mobile');
                if ($this.attr('data-background').substr(0, 1) === '#') {
                    return $this.css('background-color', $background);
                } else if ($this.attr('data-background-mobile') && device.mobile()) {
                    return $this.css('background-image', 'url(' + $backgroundmobile + ')');
                } else {
                    return $this.css('background-image', 'url(' + $background + ')');
                }
            });
        }
    });
</script>

{% endblock content %}